.gradient-custom {
  /* fallback for old browsers */
  background: #2B3A67;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2B3A67, #4A73AB);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2B3A67, #4A73AB);
}
.btn:hover {
  background-color: #4A73AB;
}

input[type="text"]:not(:placeholder-shown) {
  background-color: transparent;
}

input[type="text"]:focus {
  background-color: transparent;
}
