form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-card{
  margin: auto;
  margin-top: 10%;
    width: 300px;
  padding:1%;
  text-align: center;
  border: 1px solid lightgray;
  }
  .login-card>mat-card-content{
      display: flex;
      justify-content: center;
  }
  .fieldToken{
      margin-top: 5%;
      width: 100%;
  }
  .buttonToken{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .buttonToken>p{
    margin-top: 3%;
    }