.navbar {
  background-color: #4267b2;
}
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Questo assicura che la navbar rimanga sopra agli altri elementi */
}

.btn,
.btn-primary {
  font-size: 0.9em;
  border-radius: 20px;
}

.searchInput {
  border: none;
  border-bottom: 2px solid #e4e6eb;
  border-radius: 24px;
  padding: 5px 8px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.searchInput:focus {
  border-color: #b0b3b8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* Stili base per la navbar */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

/* Ottimizzazione per dispositivi mobili */
@media (max-width: 768px) {
  .navbar .navbar-brand img {
    height: 40px;
  }

  .navbar .searchInput {
    width: auto; /* Adatta la larghezza dell'input di ricerca */
    flex-grow: 1; /* Consente all'input di crescere e occupare lo spazio disponibile */
    margin: 0 10px;
  }

}
@media (max-width: 991px) {
  .navbar-toggler,
  .block-menu {
    order: 2;
  }
  .block-search {
    order: 1;
  }
}
