<nav class="navbar navbar-expand-lg " *ngIf="showNavbar">
  <div class="container-fluid d-flex flex-row">
    <a class="navbar-brand me-2 my-auto" routerLink="/user">
      <img
        src="../../assets/img/logo.png"
        height="50"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/user" routerLinkActive="active">
          <i class="fas fa-user-group"></i> User </a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <input
        class="searchInput me-2"
        placeholder="Search..."
        type="text"
        name="search"
        [(ngModel)]="searchText"
        (input)="onSearchTextChanged()"
      />
      <button
        type="button"
        class="btn btn-outline-primary text-white border-white px-3 me-2"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
