.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.example-card{
  margin-left: 1%;
  margin-bottom: 1%;
  width: 300px;
  white-space: pre-wrap !important; 
}

.is-hidden { display: none; }

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1%;
}

.example-sidenav {
  padding: 20px;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
}

.addPosts{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.searchInput {
  padding: .5rem;
  box-sizing: border-box;
  display: block;
  border: none;
  border-bottom: 1px solid;
  margin-left: 0.5%;

}
.searchInput:focus {
  outline: #336699 auto 1px;
}
.search-post{
  margin-top: 1%;
  margin-bottom: 1%;
}
.showDataBtnContainer{
  display: flex;
  justify-content: flex-end;
}

.showDataBtn{
  margin-bottom: 3%;
}

.infoCommentsContainer{
  font-size: 13px;
  margin-bottom: 1%;
  font-weight: 400;
  color: graytext;   
}
.bodyCommentsContainer{
background-color: #f2f2f2;
padding-top: 1%;
padding-bottom: 2%;
border-bottom: 1px solid grey;
margin-bottom: 2%;
}

.titleComments{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1%;
}

.example-viewport {
  height: 200px;
  width: 100%;
} 
.numberPosts{
  display: flex;
  flex-direction: column;
}
.buttonPage{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4%;
  margin-right: 3%;
}
@media screen and (max-width: 929px) {
  .cardContainer{
      justify-content: center;
  }
}