<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" id="postsNav" mode="side">

    <div class="buttonContainer">
      <button mat-raised-button color="warn" type="button" class="closeButton" mat-button (click)="drawer.toggle()">
        X
      </button>
    </div>
    <!-- aggiungi post -->
    <h3 id="titleFormPosts">Add Posts</h3>
    <form class="addPosts" id='postForm' [formGroup]="postForm">
      <mat-form-field>
        <mat-label>Select an user</mat-label>
        <mat-select disableRipple #selectVal id="valueSelect" formControlName="user"
          (selectionChange)="idUser($event.value)">
          <mat-option #userPost id="userPostId" *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" #postTitle required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Body</mat-label>
        <textarea matInput type="text" formControlName="body" #postBody required></textarea>
      </mat-form-field>
      <button mat-raised-button type="submit" class="submitButton" [disabled]="postForm.invalid"
        (click)="addPost(postTitle.value, postBody.value)" (click)="drawer.toggle()">Submit</button>
    </form>
    <!-- Numero post -->
    <h3 id="titleNumberPosts">Number of posts</h3>
    <form [formGroup]="nPostsForm" class="numberPosts">
      <mat-form-field>
        <mat-label>Number of posts</mat-label>
        <input matInput type="number" max="100" formControlName="postNumber" #postNumber required>
      </mat-form-field>
      <button mat-raised-button type="submit" class="submitButtonUser" [disabled]="nPostsForm.invalid"
        (click)="getAllPost()" (click)="drawer.toggle()">Submit</button>
    </form>
  </mat-drawer>

  <div class="searchContainer">
    <div>
      <div class="search-post">
        <div class="example-sidenav-content">
          <button mat-raised-button color="primary" type="button" id="editButtonPosts" mat-button
            (click)="drawer.toggle()">
            Edit
          </button>
          <input class="searchInput" placeholder="Search post" type="text" name="search" [(ngModel)]="searchText" />
        </div>
      </div>

      <div class="cardContainer">


        <mat-card class="example-card" *ngFor="let post of posts | filter:searchText">
          <mat-card-header>
            <mat-card-title-group>
              <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
                <mat-card-title id="title">{{post.title}}</mat-card-title>
                <mat-card-subtitle id="userIdPost">UserID: {{post.user_id }}</mat-card-subtitle>
                <mat-card-subtitle id="body">{{post.body }}</mat-card-subtitle>
              </cdk-virtual-scroll-viewport>

              <mat-card-subtitle class="statusContainer">
              </mat-card-subtitle>

            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="showDataBtnContainer">
              <button class="showDataBtn" #showDataBtnid mat-stroked-button color="primary"
                (click)="openPopup(post.id)">Comments
              </button>
            </div>
          </mat-card-content>

          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Comments</h4>
                </div>
                <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
                  <div class="modal-body">
                    <div *ngIf="!comments || comments.length === 0">
                      <p>No messages</p>
                    </div>
                    <div id="txtdataCommens" class="commentContainer" *ngFor="let comment of comments">
                      <div class="titleComments">{{comment.name}}</div>
                      <div class="infoCommentsContainer">
                        <div>Email: {{comment.email}}</div>
                        <div>ID: {{comment.id}}</div>
                        <div>PostID: {{comment.post_id}}</div>
                      </div>
                      <div class="bodyCommentsContainer">
                        <p class="bodyComments">{{comment.body}}</p>
                      </div>
                    </div>
                  </div>
                </cdk-virtual-scroll-viewport>
                <div class="modal-footer">
                  <button type="button" class="closePopup" mat-raised-button color="warn" (click)="closePopup()">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
  <div class="buttonPage">
    <button mat-stroked-button #prevPage color="primary" class="previousPageDisabled"
      *ngIf="this.postService.nPage === 1;else buttonShow" disabled>Previous Page</button>
    <ng-template #buttonShow>
      <button mat-stroked-button #prevPage color="primary" class="previousPageEnabled" (click)="previousPage()">Previous
        Page</button>
    </ng-template>
    <button mat-stroked-button class="nextPage" color="primary" (click)="nextPage()">Next Page</button>
  </div>

</mat-drawer-container>