<!-- <div class="example-sidenav-content">
    <div class="search-post">
      <div class="example-sidenav-content">
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="editButton"
          id="editButtonPosts"
          mat-button
          (click)="drawer.toggle()"
        >
          Edit
        </button>

    </div>
  </div> -->
  <input
  class="searchInput"
  placeholder="Search post"
  type="text"
  name="search"
  [(ngModel)]="searchText"
/>
<button
  type="button"
  class="btn btn-primary"
  data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
>
  Edit
</button>

<div class="d-flex flex-wrap gap-2 justify-content-center">
  <div class="col-2" *ngFor="let user of users | filter : searchText">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img
          *ngIf="user.gender == 'male'"
          src="/assets/img/user-male-image.jpeg"
          alt="avatar"
          class="rounded-circle img-fluid"
          style="width: 150px"
        />
        <img
          *ngIf="user.gender == 'female'"
          src="/assets/img/user-female-image.png"
          alt="avatar"
          class="rounded-circle img-fluid"
          style="width: 150px"
        />
        <h5 class="my-3">{{ user.name }}</h5>
        <!-- <p class="text-muted mb-1">Email: {{ user.email }}</p> -->
        <!-- <p class="text-muted mb-4">Gender: {{ user.gender }}</p> -->
        <div class="d-flex justify-content-center mb-2">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/detail/{{ user.id }}"
          >
            Details
          </button>
          <button
            type="button"
            class="btn btn-outline-danger ms-1"
            (click)="delete(user)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttonPage">
  <!-- <form [formGroup]="nUserForm" class="numberUsers">
      <mat-form-field>
        <mat-label>Number of users</mat-label>
        <input
          matInput
          type="number"
          max="100"
          formControlName="userNumber"
          #userNumber
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        class="submitButtonUser"
        type="submit"
        [disabled]="nUserForm.invalid"
        (click)="getUsers()"
      >
        Submit
      </button>
    </form> -->

  <form [formGroup]="nUserForm" (ngSubmit)="getUsers()">
    <div class="form-outline mb-4">
      <input type="number" id="form1Example1" class="form-control"  formControlName="userNumber"/>
      <label class="form-label" for="form1Example1"
        >N° Users</label
      >
    </div>
    <button type="submit" class="btn btn-primary" >
      Submit
    </button>

  </form>
  <button
    *ngIf="this.userService.nPage != 1"
    type="button"
    #prevPage
    class="btn btn-outline-primary"
    data-mdb-ripple-color="dark"
    (click)="previousPage()"
  >
    Previous Page
  </button>

  <button type="button" class="btn btn-primary" (click)="nextPage()">
    Next Page
  </button>
</div>

<app-add-user></app-add-user>
