.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.example-card{
  margin-left: 1%;
  margin-bottom: 1%;
  width: 300px;
  white-space: pre-wrap !important; 
}
.overflowText{
  word-break: break-all !important;
}
button {
  margin-right: 8px;
}


.status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 2%;
}

.statusOnline{
  background-color: green;
}

.statusOffline{
  background-color: red;
}

.statusContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1%;
}

.example-sidenav {
  padding: 20px;
}

.formUser{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.numberUsers{
  display: flex;
  flex-direction: column;
}
.buttonContainer{
  display: flex;
  justify-content: flex-end;
}
.alert{
  color: red;
}

.buttonUserContainer{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;
}
.buttonPage{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4%;
  margin-right: 3%;
}
.searchInput {
  padding: .5rem;
  box-sizing: border-box;
  display: block;
  border: none;
  border-bottom: 1px solid;
  margin-left: 0.5%;

}
.searchInput:focus {
  outline: #336699 auto 1px;
}
.search-post{
  margin-top: 1%;
  margin-bottom: 1%;
}
@media screen and (max-width: 929px) {
  .cardContainer{
      justify-content: center;
  }
}